.btn {
    padding: 10px 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 50px;
    min-width: 181px;
    /* height: 42px; */

    background: var(--primary);
    border: 1px solid var(--primary);

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: var(--alternate);

    white-space: nowrap;

    transition: all 0.3s ease-in;
}

.btn:hover {
    color: var(--primary);
    background-color:var(--alternate);
    background-color:var(--alternate-white);
}

.btn-link {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 38px;
    
    padding: 19px 3px 19px 38px;

    min-width: 242px;
    height: 60px;

    /* border: 1px solid #fff; */
    border-radius: 96px;

    /* background: #000; */
}

.btn-link::after {
    content: url("./../../img/ui/btn-arrow-white.svg");

    width: 54px;
    height: 54px;

    outline: 1px solid var(--black);
    border-radius: 50%;
}

@media (max-width: 480px) {
    
}